* {
  margin : 0px;
  color: #feb062;
  background-color : #3f3b3b;
  font-family: 'Roboto Mono', sans-serif;
}

#root {
  position: relative;
  width : 100vw;
  height : 100vh;
}

#App {
  position : absolute;
  top : 50vh;;
  left : 50vw;
  text-align: center;
  width : 300px;
  height : 100px;
  margin : -50px 0 0 -150px;
}

h1 {
  font-size: 80px;
}